<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" 
    integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
    <title>Document</title>
</head>
<body>
    <div>
        <br>
        <form id="of__form" action="#">
            <h1>Office Form</h1>
            {{oform.as_p}}
            <input type="submit" value="Save Office">
        </form>
        <hr>
        
        <form id="emp__form" action="#">
            <h1>Employee Form</h1>
            {{eform.as_p}}
            <input type="submit" value="Save Employee">
        </form>
    </div>
</body>

<script>

    $("#of__form").on('submit', (e) => {
        e.preventDefault();
        // raed form data
        const value = $(this).serializeArray()
        console.log("current obj: ",  $(this).serializeArray())
        // sending data to server using ajax
    })

    $("#emp__form").on('submit', (e) => {
        e.preventDefault();
        // raed form data
        // sending data to server using ajax
    })
    
</script>

</html>